<<<<<<< HEAD
.search-filter {
  display: flex;
  gap: 10px;
  margin: 20px 0;
  justify-content: center;
}

.search-filter input {
  padding: 8px;
  width: 200px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.search-filter select {
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

/* 검색창 스타일 */
.search-container {
  text-align: center;
  margin: 20px 0;
}

.search-input {
  width: 80%;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ddd;
  border-radius: 5px;
}
=======
.search-filter {
  display: flex;
  gap: 10px;
  margin: 20px 0;
  justify-content: center;
}

.search-filter input {
  padding: 8px;
  width: 200px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.search-filter select {
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

/* 검색창 스타일 */
.search-container {
  text-align: center;
  margin: 20px 0;
}

.search-input {
  width: 80%;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ddd;
  border-radius: 5px;
}
>>>>>>> e239cb1365f6363289fe6e893960ac49962a6fc4
